*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* body{
        background-color: #fbff00;
} */

header{
    text-align: center;
}

header h1{
    font-size: 70px;
    background-image: linear-gradient(#fcb852, #fe5a5a);
    color: rgb(255, 255, 255);
    text-shadow: #000 -2px -2px ;
}

section{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}

section div{
    width: 50%;
    border: #000 2px solid;
    margin-top: 50px;
    position: relative;
    height: 344px;
    background-color: #ffff;
}

section div img{
    margin-left: 25%;
    z-index: 1;
    position: relative;
}

section div button{
    position: absolute;
    top: 73%;
    right: 30.5%;
    width: 40%;
    height: 44px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgb(252, 218, 154);
}
section div button:hover{
    background-color: rgb(246, 193, 95);
}

section div .java{
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    margin-left: 10px;
}

header .para{
    font-size: 40px;
    margin-top: 40px;
}